:root {
  /* main colors */
  --bg-100: hsl(0, 0%, 20%);
  --bg-200: black;
  --bg-300: black;
  --bg-400: #212121;
  --bg-500:  hsl(0, 0%, 13%);
  --bg: black;

  --gray-100: #aaa;
  --gray-300: #888;
  --gray-200: hsl(0, 0%, 25%);

  --primary: white;
  --red: rgb(202, 42, 42);

  --radius-sm: .2em; 
  --radius-md: .5em; 
  --radius-full: 50%; 
}
.container {
  display: flex;
  background-color: #181818;
}

.home {
  width: 100%;
}